$settings-grid: (
    gutter-desktop: 40px,
    gutter-mobile: 20px,
    mobile-padding: 20px,
    cols: 12,
    colsMobile: 6,
    breakpoints: (
        xl,
        lg,
        md,
        sm,
    ),
);
