//
// Colors
//
$true-black: #000000;
$black-0: rgba(#1c1c1c, 0);
$black-5: rgba(#1c1c1c, 0.05);
$black-10: rgba(#1c1c1c, 0.1);
$black-20: rgba(#1c1c1c, 0.2);
$black-30: rgba(#1c1c1c, 0.3);
$black-40: rgba(#1c1c1c, 0.4);
$black-50: rgba(#1c1c1c, 0.5);
$black-60: rgba(#1c1c1c, 0.6);
$black-70: rgba(#1c1c1c, 0.7);
$black-80: rgba(#1c1c1c, 0.8);
$black-90: rgba(#1c1c1c, 0.9);
$black-100: rgba(#1c1c1c, 1);

$black: #000000;
$white: #ffffff;

$focus-indicator-divider-color: $white;
$focus-indicator-color: $white;
