//desktop AR's
.u-ar-16-9 {
    padding-bottom: percentage(9, 16);
}

.u-ar-8-9 {
    padding-bottom: percentage(9, 8);
}

.u-ar-1-1 {
    padding-bottom: 100%;
}

.u-ar-2-1 {
    padding-bottom: percentage(1, 2);
}

.u-ar-1-2 {
    padding-bottom: percentage(2, 1);
}

.u-ar-4-3 {
    padding-bottom: percentage(3, 4);
}

.u-ar-3-4 {
    padding-bottom: percentage(4, 3);
}

.u-ar-3-4 {
    padding-bottom: percentage(4, 3);
}

.u-ar-3-2 {
    padding-bottom: percentage(2, 3);
}

.u-ar-2-3 {
    padding-bottom: percentage(3, 2);
}

.u-ar-auto {
    padding-bottom: unset;
}

//mobile AR's
.u-ar-md-2-3 {
    @include mq('md') {
        padding-bottom: percentage(3, 2);
    }
}
